
.banners-page-header {
  border-bottom: 1px solid black;
  padding-bottom: 2%;
}


.banners-page-subheader {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0;
}

.banners-page-subheader button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1% 2%;
  font-size: 1.2vw;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.banners-page-banner-container {
  width: 100%;
  margin-top: 2%;
  position: relative;
  overflow: hidden;
}

.banners-page-banner-container img {
  width: 100%;
  display: block;
  border-radius: 3rem;
}

.banners-page-banner-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 1% 2%;
  font-size: 1.2vw;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.banners-page-banner-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: background 0.3s ease;
  z-index: 1;
  border-radius: 3rem;
}

.banners-page-banner-container:hover::after {
  background: rgba(0, 0, 0, 0.5);
}

.banners-page-banner-container:hover button {
  opacity: 1;
}
.banners-page-top-banners-container{
  border-bottom: 1px solid black;
  padding-bottom: 2%;
}
