.coupons-page-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.coupons-page-header button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: fit-content;
  padding: 1% 2%;
  font-size: 1.2vw;
  border: none;
  border-radius:0.5rem;
  cursor: pointer;
}
.coupons-page-coupons-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 12%;
  column-gap: 2%;
  margin-top: 2%;
}
.coupons-page-coupons-container-item{
  border: 1px solid black;
  padding: 2% 8%;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;
  &:hover{
    background-color: rgb(185, 185, 185);
  }
  
}

.coupons-page-coupons-container-item div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 8%;
  flex: 0.4;
}

.coupons-page-coupons-container-item div button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: fit-content;
  padding: 4% 8%;
  font-size: 1.2vw;
  border: none;
  border-radius:0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 7vw;
  &:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}
.coupons-page-coupons-container-item div h4{
  text-wrap: nowrap;
}

.coupons-page-coupons-dialog-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2%;
  row-gap: 5%;
}